/* #blog-top{
    background-color: aqua;
} */

#article1{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    /* background-image: url('path/to/your/image.jpg'); */
    background-size: cover;
    margin-left: 20px;
    
    background-repeat: no-repeat;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#article1:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

/* #hello{
    margin-left: 5px;
} */


#hero{
    margin-left: 10px;
    margin-top: 20px;
}

#hastag{
    background-color: rgb(179, 0, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* social media logo css */



/* 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */
  
  .social-media-icons {
    position:relative;
    top: 180px;
    left: 1100px;
    display: flex;
    gap: 10px;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background-color: #3b5998; */
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* .icon.twitter {
    background-color: #1da1f2;
  }
  
  .icon.instagram {
    background-color: #e1306c;
  }
  
  .icon.linkedin {
    background-color: #0077b5;
  }
  
  .icon.youtube {
    background-color: #ff0000;
  }
   */
  .icon:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  